<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MOMSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MoneyOnMobile-Universal.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MoneyOnMobile.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MoneyOnMobile.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MoneyOnMobileSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C31034681C6670C800346D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C310346D1C66F2B100346D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3A59DD91C644AA1001C6957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3A59DDE1C644B1D001C6957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3A59E0E1C644B50001C6957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3E872FC1C619F6500C2505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3E873071C619F6500C2505C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3F230501C7D4ABC00F07633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
